.header {
    min-height: 88px;
    text-decoration: none;
    &_menu_list {
        display: flex;
        justify-content: space-between;
        
    }
        &_item {
            margin-top: 34px;
            
            
        }
            &__link {
                margin-top: 50px;
                font-family: 'Gilroy';
                font-weight: 400;
                font-size: 18px;
                color: #828282;

        }
}